.slide-fade-enter-animation {
    animation: slide-fade-in 0.3s ease forwards;
}

.slide-fade-leave-animation {
    animation: slide-fade-out 0.3s ease forwards;
}

@keyframes slide-fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slide-fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}